<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <form method="POST">
            <label for="userMass">Mass of projectile (in grams):</label>
            <input name="userMass" />
            <label for="distance">Desired launch distance (in feet):</label>
            <input name="distance" /><br /><br />
            <button>Submit</button>
            <p>{{msg0}}</p>
            <p>{{msg1}}</p>
            <p>{{msg2}}</p>
            <p>{{msg3}}</p>
            <p>{{msg4}}</p>
            <p>{{msg5}}</p>
        </form>
    </body>
</html>
